body {
    background-color: lightblue;
    text-align: center;
  }
  #text-input {
    background-color: lightgrey;
    
  }
  #check-btn {
    background-color: #00ff00;
  }
  .yes {
    color: blue;
    font-size: 40;
    background-color: white;
    border-radius: 10px;
  }
  .no {
    color: red;
    font-size: 40;
    background-color: white; 
    border-radius: 10px;
  }
  